body {
    background: #3A3C3D;
    /* Old browsers */
    background: #3A3C3D -moz-linear-gradient(top, #292b2c 0%, #3A3C3D 100%) no-repeat;
    /* FF3.6-15 */
    background: #3A3C3D -webkit-linear-gradient(top, #292b2c 0%, #3A3C3D 100%) no-repeat;
    /* Chrome10-25,Safari5.1-6 */
    background: #3A3C3D linear-gradient(to bottom, #292b2c 0%, #3A3C3D 100%) no-repeat;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#292b2c', endColorstr='#3A3C3D', GradientType=0);
    /* IE6-9 */
}

.nav-border {
    border-bottom: 2px solid white;
}

div.content {
    padding: 9px;
    color: white;
}

#welcome-msg>div {
    max-width: 800px;
    margin: 0rem 2rem;
}

#login-register {
    display: none;
    margin: 0 auto;
    max-width: 300px;
}

#login-register input {
    width: 100%;
    margin-bottom: 5px;
}

div.panel {
    background: #555;
    box-shadow: 0px 0px 2px #AAA;
}

div.panel h2 {
    padding: 0px 1rem 1rem 1rem;
}
.blue-gradient {
    background: #3f3f53;
    background: -moz-linear-gradient(top, #3f3f53 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #3f3f53 0%, #000000 100%);
    background: linear-gradient(to bottom, #3f3f53 0%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3f3f53', endColorstr='#000000', GradientType=0);
}

div.panel>div {
    padding: 1rem;
}
.table th a {
    color: #CCC;
}
.table th a:HOVER {
    color: white;
    text-decoration: none;
}
div.btn-bar {
    margin-top: 1rem;
}

div.code {
    padding: 1rem;
    /*  color: #292b2c; */
    background: #222;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #AAA;
}

.right {
    float: right;
}
/* contenteditable fix for firefox */
div[contenteditable='true']:before {
 content: "\feff ";
}