<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('NmTasks Login')"></head>
<body>

	<nav th:replace="fragments :: nav"></nav>
	<div class="content">
		<div id="welcome-msg" th:style="${message} == null ? 'display: block' : 'display: none'">
			<h2>Welcome</h2>
			<div>
					The NmTasks application has successfully been built and started. 
					During the startup process, the database schema has been dropped and
					recreated with a test account.
					<div class="code">
						email: 'root@localhost'<br/>
						password: 'root'
					</div>
					You can login to the application using this account or create a new 
					account by selecting Login->Register from the nav bar above.
			</div>

		</div>

		<div id="login-register" class="panel" th:style="${message} != null ? 'display: block' : 'display: none'">
			<h2 class="blue-gradient">Login</h2>
			<div>
				<div id="message" class="alert alert-danger" th:style="${message} != null ? 'display: block' : 'display: none'" th:text="${message}">hello</div>
				<form id="form-login" method="POST" action="/login">
					<input id="inp-email" type="text" name="email" th:value="${email}" placeholder="Email"/>
					<input id="inp-password" type="password" name="password" placeholder="Password"/>
					<input id="inp-q" type="hidden" name="q" value="Login"/>
					<div class="btn-bar">
						<button id="btn-login" class="btn btn-primary btn-block">Login</button>
						<button id="btn-register" class="btn btn-block">Register</button>						
					</div>
				</form>

			</div>
		</div>
	
	</div>

	<div th:replace="fragments :: footer"></div>

</body>
</html>